{% extends 'rango/base.html' %}

{% block title %}
  {% if user.is_authenticated %}
    <h1>Hi {{ user.username }}!</h1>
  {% else %}
    <h1>Hi!</h1>
  {% endif %}
{% endblock %}

{% block body_block %}
  {% if visits > 1 %}
    <p>You have visited {{ visits }} times! This is counted once per day</p>
  {% else %}
    <p>You have visited {{ visits }} time! This is counted once per day</p>
  {% endif %}

  <h1>Top 5 Categories</h1>
  {% if categories %}
    <ul>
      {% for category in categories %}
      <li><a href="{% url 'category' category.slug %}">{{category.name}}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <strong>There are no categories present</strong>
  {% endif %}

  <h2>Top 5 Pages</h2>
  {% if pages %}
    <ul>
      {% for page in pages%}
      <li><a href="{{ page.url }}">{{page.title}}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <strong>There are no pages present</strong>
  {% endif %}
{% endblock %}